.errorInput {
  color: rgb(233, 79, 79);
  margin-bottom: 15px;
  display: none;
}
.errorSV {
  color: rgb(233, 79, 79);
  margin-bottom: 15px;
}
input:invalid[focused="true"] {
  border: solid 1px rgb(233, 79, 79);
}
input:invalid[focused="true"] + p {
  display: block;
}
.registerSuccess {
  color: green;
  font-size: 30px;
}
